body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.amount-input {
  margin: 10px;
}

.address-input {
  margin: 10px;
}

.balance-card {
  margin-top: 20px;
  text-align: center;
}

.balance-eth {
  color: rgb(19, 202, 28);
}

.balance-inr {
  color: rgb(25, 214, 214);
}

.btn-grp {
  margin: 20px;
}

.cardImg {
  height: 250px;
}

.deposit-btn,
.action-btn {
  margin-right: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: teal;
  color: white;
  text-align: center;
}

.footer-text {
  font-size: large;
}

.info-icon {
  font-size: x-large;
}

.withdraw-btn,
.transfer-btn,
.close-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.loan-btn {
  margin-left: 20px;
  
}

.connect-btn {
  text-align: center;
  margin: 20px;
}

.refresh-icon {
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
}

.status-box {
  margin-top: 20px;
  text-align: center;
}

.status-box-null {
  display: none;
}

.itemHeader {
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.itemCollectionInfo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
  max-width: 100%;
}

.itemCollectionDetail {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collectionLink {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(32, 129, 226);
  text-decoration: none;
}

.itemCollectionToolbarWrapper {
  max-width: fit-content;
}

.buttonGrp {
  width: fit-content;
  /* display: flex; */
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 232, 235);
  color: rgb(112, 122, 131);
}

.itemTitle {
  font-size: 30px;
  font-weight: 600;
  max-width: 100%;
  margin: 0px;
  width: 588px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.itemCounts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: rgb(112, 122, 131);
}

.itemOwnerText {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 24px;
  width: 100%;
}

.itemOwner {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(32, 129, 226);
  text-decoration: none;
  font-weight: inherit;
}

.itemFrame {
  margin: 4px 0px;
}

.basePanel {
  border-radius: 10px;
  border-right: 1px solid rgb(229, 232, 235);
  border-bottom: 1px solid rgb(229, 232, 235);
  border-left: 1px solid rgb(229, 232, 235);
  border-top: 1px solid rgb(229, 232, 235);
  border-image: initial;
  color: rgb(4, 17, 29);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.basePanelHeader {
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  border-top: 1px solid rgb(229, 232, 235);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  user-select: none;
  background-color: rgb(255, 255, 255);
  border: 0px;
}

.basePanelBody {
  border-top: 1px solid rgb(229, 232, 235);
  color: rgb(53, 56, 64);
  background-color: rgb(251, 253, 255);
}

.panelContent {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tradePriceContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  color: rgb(53, 56, 64);
}

.priceContainer {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-weight: 600;
  color: rgb(53, 56, 64);
  width: fit-content;
  max-width: 100%;
}

.priceAmount {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.priceINR {
  display: block;
  font-size: 15px;
  color: rgb(53, 56, 64);
  width: fit-content;
  max-width: 100%;
}

.buttonContainer {
  display: block;
  max-width: 100%;
}

.priceHistoryGraph {
  height: initial;
  margin-bottom: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 300px; */
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.indButton {
  display: inline-flex;
}

.noOrdersText {
  display: flex;
  font-size: 16px;
  margin-top: 4px;
  -webkit-box-pack: center;
  justify-content: center;
}

.heading {
  font-weight: 600;
  font-size: 24px;
  color: rgb(4, 17, 29);
  margin-top: 40px;
  margin-bottom: 20px;
}

.sideHeading {
  font-weight: 600;
  color: rgb(4, 17, 29);
  margin-top: 40px;
  margin-bottom: 20px;
}

.sellOptions {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.text {
  color: rgb(53, 56, 64);
  font-weight: 600;
  font-size: 16px;
}

.options {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* height: 108px; */
  box-sizing: border-box;
}

.priceBtnLeft {
  color: rgb(4, 17, 29);
  opacity: 1;
  background-color: rgb(243, 251, 254);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid rgb(229, 232, 235);
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: 108px;
}

.priceBtnRight {
  color: rgb(4, 17, 29);
  opacity: 1;
  background-color: rgb(243, 251, 254);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid rgb(229, 232, 235);
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: 108px;
}

.symbol {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  display: flex;
}

.nameHeader {
  margin-top: 12px;
  max-width: 80vw;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.addrContainer {
  display: flex;
  padding: 4px 8px;
  border: 1px solid rgb(229, 232, 235);
  border-radius: 16px;
}

.addrText {
  display: flex;
  /* margin-left: 3px; */
  color: rgb(112, 122, 131);
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 600px) {
.buttonContainer {
    display: block;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .itemHeader {
    margin: 20px 20px 15px;
  }
  .itemTitle {
    width: 710px;
  }
  .itemCounts {
    margin: 20px;
  }
  .itemFrame {
    margin: 20px;
  }
  .buttonContainer {
    display: flex;
    max-width: 420px;
  }
}

@media (min-width: 1200px) {
  .indButton {
    width: 50%;
  }
}
