body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.connect-btn {
  padding-top: 10px;
}

#walletButton {
  text-align: center;
  background-color: aliceblue;
  border-radius: 5px;
  border-color: cyan;
  padding: 5px;
}

#status {
  padding: 10px;
  color: red;
}
